@media(min-width:768px){
    .navbar-brand {
        margin-left : 6rem;
        margin-right : 2rem !important;
    }
    .navbar-item{
        margin-left: 5rem;
    }
    .btn-pink{
        margin-right: 7rem;
    }
}
@media (max-width:481px)  { 
    .nav-img {
        width : 10rem
    }
    .btn-nav {
        margin-bottom: 2rem
    }
    
 }
 .navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }

 .btnrender {
    color : #ffffff;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #FC5184;
    border-color: #FC5184;
    border-radius: 4px;
}
.navbar  {
    background : rgba(255,255,255,0.3);
    background: "transparent";
    border-bottom-left-radius: 50px;
    box-shadow: 0 4px 2px -1px rgba(0,0,0,.3);
}

.scroll {
    background-color:#ffffff;
    transition: 0.20s;
    border-width: 1px;
    position: fixed;
}
.btn-nav {
    color : #ffffff;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background-color: #FC5184;
    border-color: #FC5184;
    border-radius: 4px;
}
.nav-img{
    width: 13rem;
}
.active{
    color : red;
}
