@media(max-width:278px){
    .alamat-desc{
        font-size: 18px;
        color: white;
        margin-bottom: 5rem;
    }
}

@media(min-width:768px){
    .bg-banner {
        margin-top : 10vh;
    }
    .field-contact {
        margin-top: 30px;
        padding-left: 7rem;
    }
}

@media(max-width:767px){
    .intro-contact-mg{
        margin-top: 4rem;
    }
}

@media(max-width:991px){
    .bg-banner {
        margin-top : 10vh;
    }
    .field-contact {
        margin-top: 30px;
        padding-left: 7rem;
    }
   
    .rectangle{
        display: none !important;
    }
    .alamat-title{
        margin-bottom: 5rem;
    }
}

@media(min-width:992px){
    .bg-banner {
        margin-top : 10vh;
    }
    .field-contact {
        margin-top: 220px;
        padding-left: 7rem;
    }
    .alamat-title{
        margin-bottom: 5rem;
    }
}

@media (max-width:481px)  { 
    .alamat{
        line-height: 3rem !important;
        padding : 10px 10px 10px 10px !important;
        margin : 0 auto;
        font-size: 30px !important;
    }
    .alamat-description{
        margin : 0 !important;
        // margin-bottom: 10rem;
    }
    .texted{
        margin : 0 !important;
        margin-bottom: 10rem;
    }
    .kontak-kami{
        // margin-top : 5rem !important; 
        height: 40rem !important;
    }
    .rectangle{
        display: none !important;
    }
    .alamat-desc{
        font-size: 18px;
        color: white;
        margin-top: -5rem;
    }
    
}
@media (max-width:575px)  { 
    .kontak-desc{
        font-size: 18px;
        color: white;
        margin-top: -5rem;
    }
}

.btn-blue-kontak{
    margin : 10px 0 0 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 44px;
    background: #5270fc;
    border-radius: 4px;
    color : #ffffff;
}
.alamat-desc{
    font-size: 18px;
    color: white;
    margin-top: -5rem;
}
.kontak-desc{
    font-size: 18px;
    color: white;
    margin-top: -5rem;
}

.title-contact {
    height: 72px;
    margin-top: 14rem;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 72px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.intro-contact {
    margin-top: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    color: #272A36;
}
$darkgray: #4e4e4e;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 78%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $darkgray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $darkgray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $darkgray;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $gray,$gray);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
.bg-banner {
    flex-direction: row;
    font-size : 3rem;
    margin-bottom : 2vh;
    margin-top : 15vh;
    color : #263476;
}
.bg-purple {
    margin-top : -10rem;
    // background-image:url('../../assets/background/Background\ 7.svg') !important; 
    background-color: #7446EB;
    height : 50rem;
    background-size:cover;
}

.font-white {
    color: white;
}

.bg-contact {
    // height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('../../assets/background/Background\ 5.svg');
    margin-bottom: 4rem;
}

.kontak-kami{
    margin-top : -10rem !important;
    background-color: #7446EB;
    // height : 50rem;
    background-size:cover;
}

.map-background {
    margin-top : -10rem !important;
    background-color: #7446EB;
    width: 100px;
    // height : 50rem;
    background-size:cover;
}
.alamat{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    padding : 2rem 1rem 2rem 10rem;
}
.alamat-description{
    // height: 204px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    margin-left : 8rem;
}

.texted{ 
    height: 204px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    margin-left : 8rem;
}

.rectangle {
    position: absolute;
    margin-top: -10rem;
}
.contact-email-and-phone{
    margin-top : 1rem;
    margin-bottom: 5rem;
}
// .contact .whatsapp {
    a:link {
        color: white
    }
    a:visited {
        color: white;
    }
    a:hover {
        color: red;
    }
    a:active {
        color: black;
    }
// }