@media (max-width:481px)  { 
    .home .image-banner {
        display: none !important;
    }
    .home .bg-label-banner {
        margin-top : 0rem;
        font-size : '60px';
    }
    .home .bg-banner {
        margin-top : 10rem;
    }
    .home .container-layanan{
        position: relative;
    }
    .home .img-layanan-desktop {
        display: none !important;
    }
    .home .custom-paket-desktop{
        display: none;
    }
    .home .img-layanan-mobile{
        display: block;
    }
    .home .icon-item-layanan{
        width: 100px;
    }
    .home .icon-item-layanan{
        background-image:none;
    }
    
    .home .ls-banner{
        padding: 1rem;
    }
    .home .banner-sosmed{
        margin-top : 2rem !important;
    }
 }
 @media(min-width:768px){
    .home .bg-banner {
        margin-top : 10vh;
    }
    .home .img-layanan-mobile{
        display: none;
    }
    .home .custom-paket-mobile.card{
        display: none;
    }
    
 }
 
 .home .bg-banner {
    flex-direction: row;
    font-size : 3rem;
    margin-bottom : 2vh;
    margin-top : 15vh;
    color : #FFFFFF;
}
.home .title-bg-banner{
    font-size : 3rem;
    margin-bottom : 2vh;
    margin-top : 15vh;
    color : #FFFFFF;
}
.home .masthead .ls-banner {
    font-size : 1.5rem;
    color : #FFFFFF;
}
.home .image-banner  {
    // --animate-duration:10s;
    width: 320px;
    height: 428px;
    display: block;
    right: 0;
    position: absolute;
    margin-top: 7rem;
    margin-right: 10rem;
}

.home .masthead {
    height:60rem;
    min-height:500px;
    background-size:cover;
    // background-image:url('../../assets/background/Background\ 1.svg');
    margin-bottom: 30rem;
    
}
.home .banner-sosmed {
    margin-top : 10rem
}
.home .banner-sosmed hr {
        border: 0;
        clear:both;
        display:block;
        width: 85%;    
        background-color:#FFFF00;
        height: 1px;   
}
.home .container-layanan{
    margin-top : - 16rem;
    .img-layanan-desktop{
        width: 320px;
        height: 320px;
    }
    .img-layanan-mobile{
        width: 320px;
        height: 320px;
    }
    
}
.home .subject-layanan{
    color : #AFAFB0;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1rem;
}
.home .header-layanan{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 1.5rem;
}
.home .content-layanan{
    font-size: 20px;
    color : #272A36;
    margin-bottom: 1.5rem;
    height: 85px;
    
}
.home .img-layanan-desktop {
    --animate-duration: 5s;
    display: block;
}
.home .line-bottom-layanan{
    position: absolute;
    bottom: 0;
}
.home .btn-blue{
    margin-bottom: 5rem;
}
.home .item-layanan{
    .icon-item-layanan{
        margin: auto;
        justify-content: center;
    }
    .title-item-layanan {
        margin: 0 auto;
        justify-content: center !important;
        margin-bottom: 2rem;
    }
    .content-item-layanan{
        margin: 0 auto;
        text-align: center !important;
    }
}
.home .icon-layanan{
    border-radius: 1rem;
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
}
.home .icon-item-layanan{
    padding-top: 2rem;
}
.home .title-item-layanan{
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.home .content-item-layanan{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.home .header-paket{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}
.home .card-paket{
    width: 348px;
    height: 735px;
    top: 2048px;
    margin:10px;
    padding: 50px;
    background: #FFFFFF;
    border: 1px solid #DFE0E0;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(39, 42, 54, 0.1);
    border-radius: 20px;
}
.home .basic-paket{
    margin: 0 auto;
    text-align: center;
    width: 79px;
    height: 34px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #7446EB;
}
.home .harga-paket{
    padding-top: 30px;
    width: 231px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin : 0 auto;
    text-align: center;
    color: #272A36;
    padding-bottom: 50px;
}
.home .time-for-paket{
    width: 77px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin : 0 auto;
    text-align: center;
    color: #AFAFB0;
    padding-bottom: 80px;

}
.home .container-paket{
    padding-top: 15rem;
    padding-bottom: 10rem;
}
.home .header-paket{
    padding-bottom : 5rem;
}
.home .btn-purple-paket{
    display: flex;
    margin : 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 44px;
    background: #7446EB;
    border-radius: 4px;
    color : #ffffff;
}
.home .detail-paket {
    margin-top : 50px;
}
.home .detail-paket img{
    padding-right: 10px;
}
.home .detail-paket .row{
    margin-top : 10px;
}
.home .see-paket{
    display: flex;   
    width: 148px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin : 0 auto;
    text-align: center;
    bottom : 0;
    position: relative;
    bottom: 0;
    color: #7446EB;
    cursor: pointer;
}
.home .end-class{
    position: absolute;
    width: 60px;
    height: 12px;
    right : 0;
    margin-top: 5rem;
    background: #5270FC;
}
.home .line-banner{
    position: absolute;
    width: 84.5%;
    height: 1px;
    right : 0;
    margin-top: 5rem;
    background: #ffffff;
}
.home .custom-paket-desktop{
    background-image:url('../../assets/background/Background\ 2.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 10rem;
    width: 1132px;
    height: 286px;

}
.home .custom-paket-desktop .title-custom-paket{
    padding : 4rem;
    height: 40px;
    left: 271px;
    top: 2963px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin :0 auto;
    text-align: center;
    color: #272A36;
}

.home .custom-paket-desktop .subject-custom-paket{
    padding : 1rem;
    height: 40px;
    left: 271px;
    top: 2963px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    margin :0 auto;
    text-align: center;
    color: #272A36;
}
.home .custom-paket-desktop .btn-custom-paket{
    display: flex;
    justify-content: center;
    margin-left:4rem;
    margin-top: 2rem;
}


.home .title-porfolio{
    width: 334px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #272A36;
}
.home .home-portfolio{
    margin-bottom: 2rem;
}
.home .list-portfolio{
    margin-top : 3rem;
}
.home .contain-portfolio .img-portfolio img{
    width: 100%;
    display: block;
    margin-bottom : 20px;
    height: 200px;
}
.home .breadcrumb-portfolio{
    font-size: 16px;
    line-height: 24px;
    color: #AFAFB0;
}
.home .body-portfolio{
    padding-top: 3rem;
}
.home .contain-portfolio.card{
    border: none;
    padding-top:2rem;
}
.home .home-client{
     margin-top : 7rem;
 }
 .home .title-home-client{
    margin:0 auto !important;
    text-align: center;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;   
    color: #3F277E;
 }
 .home{
        .btn-pink{
        color : #ffffff;
        display:  flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background-color: #FC5184;
        border-color: #FC5184;
        border-radius: 4px;
        height: 44px;
      }
      .btn-white{
        color : #FC5184;
        display:  flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background-color: #ffffff;
        border-color: #FC5184;
        border-radius: 4px;
        height: 44px;
      }
      .group-btn{
          margin-top : 1.5rem;
      }
 }

 //

 .home  .custom-paket-mobile .title-custom-paket{
    margin-top : 5rem !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    
}
//
.home  .custom-paket-mobile .subject-custom-paket{
    padding : 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
}
.home  .custom-paket-mobile .btn-pink{
    margin-top : 1rem;
    margin-bottom: 3rem;
    width: 100%;
}
.home  .custom-paket-mobile{
    border-radius: 10%;
    border : none !important;
    background-image:url('../../assets/background/Background\ 3.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
}
.home .btn-paket{
    color : #ffffff !important
}
.home .data-client-image img{
    width: 117px;
    height: 100px;
}