@media (min-width:320px) {
    .service .fs {
        font-size: 14px !important;
    }
    .service .desc-paket {
        font-size: 12px !important;
    }
}
@media(max-width:767px){
    .service .btn-purple-pilih-paket{
        font-size: 12px !important;
    }
    .service .btn-blue-pilih-paket{
        font-size: 12px !important;
    }
    .service .btn-pink-pilih-paket{
        font-size: 12px !important;
    }
}
// Header
.service .content-header {
    height:30rem;
    min-height:500px;
    background-size:cover;
    background-image:url('../../assets/background/Background\ 3.svg');
    margin-bottom: 5rem;
}
.service .title-header {
    font-size: 52px;
    font-weight: bold;
    margin-bottom : 2vh;
    margin-top : 30vh;
    margin-left : 40px;
    color : #FFFFFF;
}
// End of header

.service .title-info {
    font-size: 20px;
    font-weight: normal;
    margin-left : 40px;
    color : #FFFFFF;
}

// pilihan paket
.service .container-paket{
    // padding-top: 15rem;
    padding-bottom: 10rem;
}
.service .header-paket{
    padding-bottom : 5rem;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}
.service .btn-purple-paket{
    display: flex;
    margin : 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 44px;
    background: #7446EB;
    border-radius: 4px;
    color : #ffffff;
}
.service .btn-purple-pilih-paket{
    display: flex;
    margin-top : 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    background: #7446EB;
    border-radius: 3px;
    border-color: transparent;
    color : #ffffff;
}
.service .btn-blue-pilih-paket{
    display: flex;
    margin-top : 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    background: #5270FC;
    border-radius: 4px;
    border-color: transparent;
    color : #ffffff;
}
.service .btn-pink-pilih-paket{
    display: flex;
    margin-top : 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    background: #FC5184;
    border-radius: 4px;
    border-color: transparent;
    color : #ffffff;
}
.service .card-paket{
    width: 348px;
    height: 735px;
    top: 2048px;
    margin:10px;
    padding: 50px;
    background: #FFFFFF;
    border: 1px solid #DFE0E0;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(39, 42, 54, 0.1);
    border-radius: 20px;
}
.service .basic-paket{
    margin: 0 auto;
    text-align: center;
    width: 79px;
    height: 34px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #7446EB;
}
.service .harga-paket{
    padding-top: 30px;
    width: 231px;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin : 0 auto;
    text-align: center;
    color: #272A36;
    padding-bottom: 50px;
}
.service .time-for-paket{
    width: 77px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin : 0 auto;
    text-align: center;
    color: #AFAFB0;
    padding-bottom: 80px;
}
.service .detail-paket {
    margin-top : 50px;
}
.service .detail-paket img{
    padding-right: 10px;
}
.service .detail-paket .row{
    margin-top : 10px;
}
.service .see-paket{
    display: flex;   
    width: 148px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin : 0 auto;
    text-align: center;
    bottom : 0;
    position: relative;
    bottom: 0;
    color: #7446EB;
}
// end of pilihan paket

// detail paket
.service .card-paket-detail{
    width: 100%;
    height: 100%;
    top: 2048px;
    margin:10px;
    padding: 50px;
    background: #FFFFFF;
    border: 1px solid #DFE0E0;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(39, 42, 54, 0.1);
    border-radius: 10px;
}
.service .jenis-paket {
    font-size: 28px;
    font-weight: bold;
    margin-top: 22px;
}
.service .harga-paket-detail {
    font-size: 28px;
    font-weight: bold;
}
.service .col-paket {
    float: left;
    width: 25%;
    padding: 10px;
    height: 100%;
}
.service .col-paket-dropdown {
    float: left;
    width: 25%;
    padding: 10px;
    height: 100%;
}
.service .col-dropdown {
    // float: left;
    width: 100%;
}
.service .title-basic {
    color: #7446EB;
}
.service .title-pro {
    color: #5270FC;
}
.service .title-business {
    color: #FC5184;
}
.service .gimmick {
    color: #bbb;
    font-size: 12px;
}
.service .sign-paket {
    font-size: 11px;
    font-weight: bold;
}
.service .desc-paket {
    font-size: 14px;
}
.service .inline-hover:hover {
    background-color: #f1f1f1;
}
.service .text-gray{
    color: #BBBBBB;
    font-weight: normal;
}
.service .hide-show {
    background: #5270FC;
    width: 100%;
    height: 50px;
    color : #ffffff;
    display: flex;
    margin : 0 auto;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-radius: 4px;
    border-color: transparent;
}
.service .white {
    color: white;
    margin: auto 10px;
}
.service .pull-right {
    margin-left: auto;
}
.image-xs {
    height: 18px;
    width: 18px;
}
.service .btn-paket{
    color : #ffffff !important
}
// end of detail paket
