@media (max-width:481px)  { 
    .about{
        .subject-description{    
            line-height: 3rem !important;
            padding : 10px !important;
            margin : 0 auto;
            // font-size: 30px !important;
        }
        .text-description{
            margin : 0 !important;
            margin-bottom: 10rem;
        }
        .sign-profile{
            margin-left : 0rem !important;
            margin-top : 10rem !important;
            
        }
        .profile-mobile{
            display: flex;
            margin : 0 auto;
            justify-content: center;
            width: 200px;
            height: 200px;
            margin-bottom: 2rem;
            border-image-width: 10px;
            border-top-right-radius: 10px;
            border-radius: 50%;
            top : 10rem;
        }
        .content-profile-mobile img{
           width: 10rem !important;
           height: 10rem !important;
           justify-items: center;
           display: flex;
           flex: auto;
           margin-top : -6rem;
        }
        .description{
            margin-top : 5rem !important; 
            height: 50rem !important;
        }
        .profile{
            display: none !important;
        }
    }   
}
@media (min-width:768px)  { 
    .content-profile-mobile{
        display: none !important; 
    }
}
.about .title-bg-banner{
    margin-top : 10rem;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 72px;
    color: #263476;
}
.about .masthead{
    min-height:300px;
    background-size:cover;
    background-image:url('../../assets/background/Background\ 4.svg');
    margin-bottom: 5rem !important;
}
.about .masthead-2{
    min-height:500px;
    background-size:cover;
    // background-image:url('../../assets/background/Background\ 4.svg');
    margin-bottom: 15rem !important;
}
.about .text-panel{
    margin-top : 2rem;
}
.about .description{
    margin-top : -10rem !important;
    // background-color: #7446EB;
    height : 50rem;
    background-size:cover;
}
.about .subject-description{    
    height: 100%;
    font-style: normal;
    // font-weight: bold;
    // font-size: 48px;
    line-height: 60px;
    color: #000000;
    padding : 10rem;
}
.about .text-description{
    height: 204px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    margin-left : 8rem;
}

.about .sign-profile{
    height: 204px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    margin-left : 8rem;
    bottom: 0;
}
.about .profile{
    width: 25rem;
    height: 25rem;
    position: absolute;
    left : -15rem;
    z-index: 2;
} 
