
@import url('https://fonts.googleapis.com/css2?family=Montserrat:,wght@1,100&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@media (max-width:481px)  { 
  .navbar-light{
    background-color: #ffffff;
  }
  .masthead .bg-banner{
    margin-top : 3rem;
    margin-left: 0.5rem;
  }
  .masthead .ls-banner{
    margin-left: 0.5rem;
  }
  .masthead button{
    margin-left : 0.5rem;
  }
  .masthead .banner-sosmed{
    margin-left : 0.5rem;
  }
}

body {
  font-family: 'Montserrat', sans-serif !important;
}
.hidden-spacer {
  height: 56px
}
.btn-pink {
  color : #ffffff;
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #FC5184;
  border-color: #FC5184;
  border-radius: 4px;
}
.btn-white{
  color : #FC5184;
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #ffffff;
  border-color: #FC5184;
  border-radius: 4px;
}

.btn-blue{
  color : #ffffff;
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #5270FC;
  border-color: #ffffff;
  border-radius: 4x;
}
.btn-purple{
  color : #ffffff;
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #5270FC;
  border-color: #ffffff;
  border-radius: 4x;
}
.navbar-light .navbar-nav .nav-link {
  color: #37474f;
  
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #b39ddb;
}
.scroll .navbar-nav .nav-link:hover{
  color: #b39ddb;
}
.slick-prev:before, .slick-next:before{
  color:#7446EB;
}
.slick-slide img{
  margin: 0 auto;
}
/* .switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
} */
